.content__notifications {
    &-item {
        cursor: pointer;
        &:hover {
            background-color: rgba($primary-color, 0.1);
        }
    }
    &-on {
        display: flex!important;
        align-items: center;
        i {
            font-size: 8px!important;
            margin-right: 10px;
        }
    }
    &-type {
        font-style: italic!important;
        text-transform: capitalize!important;
    }
}