.form {
    &-nav {
        ul {
            padding: 0 100px;
            display: flex;
            align-items: center;
            min-height: 70px;
            background-color: #f1f1f1;
            box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.3);
            color: $secondary-color;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 100px;
            li:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right:50px;
                img {
                    margin-right:10px;
                }
            }
            li:last-child {
                margin-left: auto;
            }
            li:not(:first-child) {
                margin-top: -5px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-logo {
        max-width: 50px;
        max-height: 50px;
    }
    &-wrapper {
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content {
    }
    &-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 50px;
        
    }
    &-main {
        margin-bottom:50px;
    }
    &-group {
        margin-bottom:20px;
        label {
            display: block;
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 500;
            padding-bottom: 10px;
            position: relative;
            transition: all 0.2s linear;
            &::after {
                content: attr(data-error);
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 14px;
                font-weight: 500;
                color: red;
            }
        }
        input {
            min-width: 500px;
            font-size: 16px;
            border-radius: 20px;
            padding: 10px 20px;
            box-shadow: inset 8px 8px 8px #e3e7eb, inset -8px -8px 8px #e1e5e9;
            border: none;
            &:focus {
                outline: none;
            }   
            &::placeholder {

            }
        }
    }
    span.errorMessage {
        font-weight: 600;
        color: red;
    }
    a.errorEmail {
        font-weight: 600;
        color: red;
        display: block;
        font-size: 16px;
        margin-top: 10px;
    }
    &-show-password {
        input {
            min-width: 20px;
            cursor: pointer;
        }
    }
    &-btn-wrapper {
        margin-top: 40px;
        input {
            min-width: 20px;
            cursor: pointer;
        }
    }
    &-btn {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    &-footer {
        min-height: 70px;
        p {
            a {
                margin-left: 20px;
                text-decoration: underline;
                color: $primary-color;
            }
        }
    }
}

@include responsive(0, 575px) {
    .form-nav ul li:first-child {
        margin-right: 20px;
        margin-top: -2px;
    }
    .form-group input {
        min-width: 400px;
    }
}

